@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap'); /*googlefontsapiをダウンロード*/

* {
	font-family: 'Noto Sans JP', sans-serif; /*全ての要素にgooglefontsを適応させる*/
}

html {
	height:100%;
}
body {
	background-color: #FFFFEE;
	overflow-y:scroll;
}

body.fixed { /* モーダル画面を表示したときに後ろの背景をスクロールさせない*/
	position: fixed;
	width:100%;
	height:100%;
	left:0;
}

textarea {
	resize: none;
	overflow: hidden;
}

span {
	display: inline-block;
}

.error-message {
	color: #FF0000;
}

a {
	text-decoration: none;
}

*:focus {
	outline: none;
}

ol{
  counter-reset:list;
  list-style-type:none;
}

ol li{
  position:relative;
  line-height: 30px;
  margin: 7px 0 7px 40px;
  padding-left: 10px;
  font-weight: bold;
  font-size:20px;
}

 ol li:before{
  counter-increment: list;
  content: counter(list);
  position: absolute;
  top: 0;
  left: -35px;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height:30px;
   z-index:1;
}
ol li:after{
  content:"";
  position: absolute;
  top: 3px;
  left: -32px;
  width: 25px;
  height: 25px;
}

.global-header {
	background-color: #CCFFFF;
	border-bottom: 1px solid, #DDDBD6;
	display:flex;
	align-items: center;
}

.white-out:hover{
	opacity: 0.7;
	color: #99CCFF;
	cursor: pointer;
}
.nav-item > a {
	color: #000000;
}

.global-footer {
	background-color: #808080;
	height: 100px;
	position: absolute;
	bottom: 0;
	display:flex;
	align-items: center;
	flex-direction: column;
}

.rights-reserved .powered-by{
	margin :0 auto; /* text-align:centerはブロック要素につけ、その中のインライン要素のみを中央にする。それ以外はmargin:0 autoで中央にする*/
}

/* @keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
} */

.login-box {
	height: 450px;
	max-width: 510px;
	border: solid 2px #808080;
	background-color: #FFFFFF;
	margin: 100px auto 0;
}
span.error-message{
	font-size: 0.8rem;
}



.login-footer {
	margin-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 0;
	text-align:center;
}

.wrapper {
	min-height: 100%;
	position: relative;
	padding-bottom: 150px;
	
}

.mypage-wrapper{ /*マイページではメインコンテンツとfooterの隙間をなくすためにpadding-bottomを上書きする*/
	min-height: 100vh;
	position: relative;
	padding-bottom:100px;
}

.mypage-container{
	height: calc(100% - 200px); /*wrapperからheaderとfooterを引いた高さ=mainの高さ*/
	min-height: calc(100vh - 100px); /*mainが足りない場合も一画面分は確保する*/
	border-right: solid 1px #808080;
	border-left: solid 1px #808080;
	background-color: #CCFFFF;
	padding-bottom: 25px;
	/*overflow-y: scroll;*/
}

.mypage-head {
	display: flex;
	justify-content: center;
	align-items: center;
	border: solid 1px #808080;
	white-space: nowrap;
	text-align:center;
}

.mypage-tab {
	border: solid 1px #808080;
	background-color: #FFFFFF;
}

.mypage-detail {
	border: solid 1px #808080;
	margin-bottom: 10px;
	display: flex;
	width:100%;
}

.mypage-picwrap {
	min-width: 50%;
	display:flex;
	align-items: center;
	padding: 5px 10px 5px;
}

.mypage-picwrap img {
	max-height: 200px;
	max-width: 100%;
	height: auto;
	width :auto;
}

.mypage-detailwrap {
	min-width: 50%;
}

.mypage-post-title {
	padding-top: 16px;
	margin-right: 16px;
	border-bottom: solid 1px #808080;
}

.mypage-comment-detail {
	border: solid 1px #808080;
	margin-bottom: 10px;
	padding: 5px 10px;
	width:100%;
}

.nav-tabs .nav-link.active{
	background-color: #FFFFEE;
}

.search-box {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 50px;
	width: 100%;
	
}

#keyword {
	background-color: #DDDDDD;
	border: solid 1px #DDDDDD;
	height: 35px;
}

#submit-keyword {
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	border: solid 1px #DDDDDD;
	height: 35px;
	width: 60px;
}

#map {
	width:auto;
	height: 80vh;
	border: solid 1px #808080;
}

.modal {
	display: none; 
	/* display: block; */
	position: fixed;
	z-index: 1; /* 数値が高いほど重なっている要素が手前にくる*/
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	/* rgba(red,green,blue,opacity)：色を三原色で表記、opacityは0から1で透明度を変更可能*/
}

.modal-content {
	background-color: white;
	width: 50vw;
	height: 100%;
	margin: auto;
	border-radius: 10px;
	overflow: scroll;
	/* IE, Edge 対応 */
    -ms-overflow-style: none;
    /* Firefox 対応 */
    scrollbar-width: none;
  }
  /* Chrome, Safari 対応 */
  .modal-content::-webkit-scrollbar {
    display:none;
}

.modal-body {
	/* height: 100%;
	position: relative;*/
	text-align: center;
	background-color: #FFFFEE;
}

.modal-form {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.modal-form > input, .modal-form > textarea, #stars {
	margin-bottom: 10px;
}

.modal_wrap input{
  display: none;
}

.modal_overlay{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.7);
  opacity: 0;
  transition: opacity 0.5s, transform 0s 0.5s;
  transform: scale(0);
}

.modal_trigger{
  position: absolute;
  width: 100%;
  height: 100%;
}

.modal_bd{
  width: 60%;
  border-radius: 10px;
  padding: 30px 30px 15px;
  background: #FFFFEE;
  line-height: 1.4em;
  transform: translateY(-100%);
  transition: 0.5s;
}

.each-content{
	border: 2px solid #DDDDDD;
	box-shadow: 1.5px 1.5px 2px #ccc;
	position: relative;
	padding: 20px 0;
	margin-bottom: 20px;
}
.ghost {
	opacity: 0.4;
	background-color: #C8EBFB;
}
.each-content-card{
	position: absolute;
	padding: 0.5em;
	background-color: #FFFFEE;
	left: 20px;
	top: -20px;
}
.close-each-content{
	position:absolute;
	right:0;
	top:0;
}

.close_button{
  position: absolute;
  top: 14px;
  right: 16px;
  font-size: 24px;
  cursor: pointer;
}

.modal_wrap input:checked ~ .modal_overlay{
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.5s;
  
}

.modal_wrap input:checked ~ .modal_overlay .modal_bd{
  transform: translateY(20px);
}

#stars>.star {
	color: #FF9900;
	cursor: pointer;
}

.multiple-texts {
	width:80%;
	height: 75px;
}

.multiple-images {
	width:80%;
}

.search {
	display: flex;
}

.post-title{
	font-size: 1.6rem;
	text-align: center;
	border-radius: 15px;
	padding: 10px;
	background-color: #CCCCCC;
}

.post-container {
	background-color: #ffffff;
	padding-top: 20px;
	padding-bottom: 20px;
}

.imageAndText{
	border: solid 1px black;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 20px;
	margin-right:0; /*containerのrowはデフォルトで左右に15pxマージンがかかっている*/
	margin-left:0;
}

.image-list {
	/* max-width: 100%;
	height:auto; */
	max-height: 200px;
	object-fit:cover;
	border: solid 1px #808080;
	cursor: pointer; 
}

.like-image{
	padding-bottom: 10px;
}

.like-btn {
	color: #e54747;
	cursor: pointer;
}

#comment-alert {
	display:none;
	padding-left: 15px;
	color: #ef6074;
}

.comment-button{
	width: 50px;
	height:50px;
	border-radius: 50%;
	margin-right: 20px;
}

.post-comments{
	list-style:none;
	padding-left:0px;
}

.compost {
	margin: 10px 0 15px;
	
}

.combody {
	background-color: #E6E6FA;
	padding: 20px 15px 5px;
	margin-bottom: 5px;
	
}

.cominfo {
	text-align: right;
	padding-right: 10px;
	margin-bottom: 0;
}

#conversation {
	margin-bottom: 20px;
}

@media screen and (max-width: 767px){
.login-body {background-color: #FFFFFF;}
.container.login-rs {
	height: 100vh;
	width: 100％;
	padding:0;
	}
.login-box {
	height:100%;
	width: 100%;
	max-width:initial;
	margin:0;
	border:0;
}
.modal_bd{
	width:100vw;
}
.modal-content{
	width: 80%;
}
}

/*画面幅850px以上*/
@media screen and (min-width: 850px){ 
	.container.post-container {
		max-width: 850px;
	}
	
}