<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Please Log In</title>
</head>
<body>
	<div class="container">
		<form class="form-signin" method="post" action="/login">
			<h2 class="form-signin-heading">Please login to Tomonosukescode</h2>
			<div th:if="${showErrorFlag}" th:text="${errorMsg}"></div>
			<p>
				<label for="username" class="sr-only">Username</label> <input
					type="text" id="username" name="username" class="form-control"
					placeholder="Username">
			</p>
			<!-- <div th:if="${showLogoutFlag}" th:text="${logoutFlag}"></div> -->
			<p>
				<label for="password" class="sr-only">Password</label> <input
					type="password" id="password" name="password" class="form-control"
					placeholder="Password">
			</p>

			<button class="btn btn-lg btn-primary btn-block" type="submit">Sign
				in</button>
		</form>
	</div>
	<div>
		<a th:href="@{/newUser}">New User!</a>
	</div>
</body>
</html>