<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" name="viewport" content="width=device-width">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
	crossorigin="anonymous">
<link th:href="@{/css/MapTraveler.css}" rel="stylesheet" type="text/css" />
<title>Please Log In</title>
<link rel="shortcut icon" th:href="@{/images/favicon.ico}" />
</head>
<body>
	<div class="container login-rs">
		<div class="login-box">
		<img src="https://images.cooltext.com/5560340.png" height="50" alt="MapTraveler" class="d-block mx-auto" />
			<form method="post" action="/login">

				<div class="text-center"><span th:if="${showErrorFlag}" th:text="${errorMsg}" class="error-message text-center"></span></div>
				<div class="form-group px-4 pt-3 mb-3">
					<label class="control-label" for="username">ユーザー名<span>(4文字以上10文字以下)</span></label>
					<input type="text" class="form-control" id="username" name="username">
				</div>

				<div class="form-group px-4 mb-4">
					<label class="control-label" for="password">パスワード<span>(8文字以上20文字以下)</span></label>
					<input type="password" class="form-control" id="password" name="password">
				</div>
				
				<div class="form-group text-center mb-5">
					<button class="btn btn-lg btn-primary btn-block btn-success px-5" type="submit">ログイン</button>
				</div>
				
				<div class="new-user text-center">
					<a th:href="@{/newUser}">ユーザー登録はこちら</a>
				</div>
				<p class="login-footer">Copyright© MapTraveler All Rights Reserved</p>
			</form>
		</div>
	</div>	
</body>
</html>