
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Register new User !</title>
</head>
<body>
	<div class="newUserContainer">
		<form th:action="@{/newUser}" th:object="${userRegistrationForm}" method="post">
			<div>
				<label for="username">ユーザー名</label> <input id="username"
					name="username" type="text">
			</div>
			<div>
				<label for="password">パスワード</label> <input id="password"
					name="password" type="password">
			</div>
			<input type="submit" value="送信">
			<span  th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span> <!-- エラーメッセージは基本formタグの中 -->
			<span  th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
		</form>
	</div>
</body>
</html>