<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
	crossorigin="anonymous">
<title>Insert title here</title>
<style type="text/css">
	.ghost {
		opacity: 0.4;
		background-color: #C8EBFB;
	}
</style>
</head>
<body>
	<ul id="items">
		<li id="hoge">item 1</li>
		<li id="hoge">item 2</li>
		<li id="hoge">item 3</li>
	</ul>
	<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
	<script>
	var el = document.getElementById('items');
	var sortable = Sortable.create(el, {
		animation: 150,
		ghostClass: 'ghost'
	});
	</script>
</body>
</html><!-- Sortable.jsでドラッグ/ドロップの並び替えを学ぶ -->