<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
	crossorigin="anonymous">
<title>Insert title here</title>
<style type="text/css">
	.container {
		width: 40%;
		background-color: gray;
	}
	.content {
		background-color: red;
		
	}
	.menu {
		background-color: blue;
	}
</style>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="content col-sm-9">９せんち</div>
			<div class="menu col-sm-3">3せんち</div>
		</div>
			
	</div>
</body>
</html>