<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" name="viewport"
	content="width=device-width, initial-scale=1.0">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
	crossorigin="anonymous">
<title>Insert title here</title>
<style type="text/css">
</style>
</head>
<body>
	<th:block th:each="imageAndText, iAT: ${imagesAndTexts}">
		<!-- 画像、テキスト、いいねの紐付け:リファクタリング必要 -->
		<th:block th:each="imageOrText, iOT : ${imageAndText}">
			<img th:if="${iOT.count == 1}" class="image-list"
				th:src="${'data:image/png;base64,'+ imageOrText}" alt="イメージが見当たりません">
			<p th:if="${iOT.count == 2}" th:text="${imageOrText}"></p>
			<th:block th:each="image, i : ${images}">
					<th:block th:each="favourite, f: ${image.favourites}">
						<div th:if="${iOT.count == 2 && iAT.count == i.count && f.count == 1}" th:class="like-image">いいね:<span id="times" th:text="${f.size}"></span>回</div>
					</th:block>
			</th:block>
		</th:block>
	</th:block>
</body>
</html>